@import "./fonts";
@import "./variables";
@import "./generals";
@import "./mixin";
@import "./modules/header";
@import "./modules/hero";
@import "./modules/wildlife";
@import "./modules/banner";
@import "./modules/zoo";
@import "./modules/donate";
@import "./modules/testimonials";
@import "./modules/map";
@import "./modules/footer";