.donate-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #4F4F4F;
}
.donate__content-wrapper {
    max-width: 790px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 92px;
}
.donate__content-title {
    @include  TextStyle($size:48px,$weight:900,$height:100%,$letter:0,$color:$clr-white,$bottom:30px);
}
.donate__content-text {
    @include TextStyle($size:14px,$weight:400,$height:100%,$letter:0,$color:$clr-gray,$bottom:0);
}
.donate__list {
    @include Display($items:center,$justify:space-between,$gap:0px);
    margin-bottom: 60px;
}

.donate__circle-img{
    width: 107px;
}
.donate__item-content {
    width: 245px;
    height: 245px;
    text-align: center;
    @include Display($items:center,$justify:center,$gap:18px);
    flex-direction: column;
    padding: 0 55px;
    border: 2px solid $clr-btn;
    border-radius: 50%;
}
.donate__item-content-title {
    @include  TextStyle($size:20px,$weight:900,$height:100%,$letter:0,$color:$clr-white,$bottom:0);

}
.donate__btn-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;    
}
.donate-btn {
     width:245px;
    justify-content: center;
    @include BtnStyle($padding:18px 0 16px 0, $bg-color:$clr-btn,$clr:$clr-white,$border:2px solid transparent,$radius:3px);
}

@media (max-width:1024px){
    .donate__circle-img{
        width:48px ;
    }
}

@media (max-width:930px){
    .donate__circle-img{
        height:48px ;
        width: auto;
        margin: 30px 0;
    }
    .donate__content-wrapper{
        max-width: 600px;
    }
    .donate__list{
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .donate__item-circle{
        @include Display($items:center,$justify:center,$gap:0);
        flex-direction: column;    
        width: 100%;
    }
    .donate__circle-img{
    width: 48px;                
    height: auto;
    transform: rotate(90deg);  
    transition: transform .2s ease;
  }
    
}
@media (max-width:630px){
    .donate-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .donate__content-wrapper{
        margin-bottom: 30px;
    }
    .donate__content-title {
    @include  TextStyle($size:36px,$weight:900,$height:100%,$letter:0,$color:$clr-white,$bottom:0);
}
    .donate__content-text{
        display: none;
    }
    .donate__list{
        margin-bottom: 40px;
    }
}