.testimonials-section {
    padding-top: 100px;
    padding-bottom: 159px;
}

// .testimonials {
// }
.testimonials__title-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 61px;
}
.testimonials__title {
     @include  TextStyle($size:48px,$weight:900,$height:100%,$letter:0,$color:$clr-text,$bottom:0);
}
.testimonials__list {
    @include Display($items:center,$justify:start,$gap:20px);
    margin-bottom: 69px;
    
}
.testimonials__item {
    background-color: #3C3C3C;
    border-radius: 5px;
    padding: 48px 58px 89px 56px;
    @include Display($items:center,$justify:center,$gap:17px);
    flex-direction: column;
}
.testimonials__item-title {
     @include  TextStyle($size:20px,$weight:900,$height:100%,$letter:0,$color:$clr-text,$bottom:0);
}
.testimonials__item-text {
    @include  TextStyle($size:14px,$weight:400,$height:100%,$letter:0,$color:$clr-gray,$bottom:0);
}
.testimonials__item-block{
    display: inline-block;
}
.testimonials__item-hidden{
    display: none;
}
.testimonial__btn-wrapper{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.testimonials__btn {
    width:245px;
    justify-content: center;
    @include BtnStyle($padding:18px 0 16px 0, $bg-color:$clr-btn,$clr:$clr-white,$border:2px solid transparent,$radius:3px);
}

@media (max-width:950px){
    .testimonials-section{
        padding-bottom: 174px;
    }
    .testimonials__title-wrapper{
        margin-bottom: 46px;
    }
    .testimonials__list{
        gap: 17px;
        margin-bottom: 54px;
    }
    .testimonials__item:nth-child(1){
        display: none;
    }
    
    .testimonials__item{
        padding: 47px 72px 106px 71px;
        width: 100%;
    }
}

@media (max-width:650px){
        .testimonials-section{
        padding-top: 50px;
        padding-bottom: 140px;
    }
    .testimonials__title-wrapper{
        margin-bottom: 36px;
    }
    .testimonials__list{
        gap: 0px;
        margin-bottom: 54px;
    }
    .testimonials__item:nth-child(2){
        display: none;
    }
    .testimonials__item:nth-child(1){
        display: block;
    }
    
    .testimonials__item{
        background-color: #3C3C3C;
        border-radius: 5px;
        @include Display($items:center,$justify:center,$gap:0);
        flex-direction: column;
        padding: 47px 12px 112px 12px;
        width: 100%;
        text-align: center;
    }
    .testimonials__item-block{
        display: none;
    }
    .testimonials__item-hidden{
        margin-bottom: 47px;
        display: inline-block;
    }

    .testimonials__item-title{
        margin-bottom: 19px;
    }
}