.zoo-section {
    padding-top: 100px;
    padding-bottom: 139px;
}
.zoo{
    position: relative;
}

.zoo__title-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}
.zoo__title {
    @include  TextStyle($size:48px,$weight:900,$height:100%,$letter:0,$color:$clr-white,$bottom:0);
}
// .zoo__list-wrapper {
// }
.zoo__list {
    @include Display($items:center,$justify:space-between,$gap:0px);
    flex-wrap: wrap;
    margin-bottom: 70px;
    position: relative;
    overflow: hidden;
}
.zoo__item {
    width: 278px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.zoo__item-img {
    width: 100%;
    height: 399px;
}
.zoo__item-text {
    padding: 0 62px 0 22px;
    position: absolute;
    top: 269px;
    @include TextStyle($size:14px,$weight:400,$height:100%,$letter:0.4px,$color:$clr-gray,$bottom:0);
}
.zoo__item-links {
    top: 331px;
    position: absolute;
    left: 22px;
    @include Display($items:center,$justify:start,$gap:10px)
}
.zoo__item--links-item {
    @include Display($items:center,$justify:start,$gap:2px);
    @include TextStyle($size:12px,$weight:500,$height:100%,$letter:0,$color:$clr-aqua,$bottom:0);
}
.zoo__item--links-item-white{
    @include Display($items:center,$justify:start,$gap:3px);
    @include TextStyle($size:12px,$weight:500,$height:100%,$letter:0,$color:$clr-white,$bottom:0);
}
.zoo__item--watch-wrapper {
    width: 24px;
    height: 24px;
    border: 1px solid $clr-aqua;
    border-radius: 50%;
    @include Display($items:center,$justify:center,$gap:0);
    
}
.zoo__item--donate-wrapper {
    width: 24px;
    height: 24px;
    border: 1px solid $clr-white;
    border-radius: 50%;
    @include Display($items:center,$justify:center,$gap:0);
    
}
.zoo__arrow-left {
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -20px;
}
.zoo__arrow-right {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: -20px;
}
.zoo__btn-wrapper {
    width: 100%;
    text-align: center;
}
.zoo-btn {
    width:245px;
    justify-content: center;
    @include BtnStyle($padding:18px 0 16px 0, $bg-color:$clr-btn,$clr:$clr-white,$border:2px solid transparent,$radius:3px);
}

@media (max-width:1130px){
    .zoo__item:nth-child(4){
        display: none;
    }
    .zoo__arrow-left{
        display: none;
    }
    .zoo__arrow-right{
        display: none;
    }
}
@media (max-width:934px){
    .zoo-section{
        padding-bottom: 169px;
    }
    .zoo__item:nth-child(3){
        display: none;
    }
    .zoo__title{
        font-size: 48px;
    }
}
@media (max-width:636px){
    .zoo-section{
        padding-top: 50px;
        padding-bottom: 105px;
    }
    .zoo__title-wrapper{
        margin-bottom: 30x;
    }
    .zoo__title{
        font-size: 36px;
    }
    .zoo__item:nth-child(2){
        display: none;
    }
    .zoo__list{
        justify-content: center;
    }
  
}